# cobol compiled files
*.o

balance.json
golden_master.json
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw


# cobol accountsystem program
accountsystem

# node_modules
node_modules/

# node-accounting-app
node-accounting-app/*
